{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin_style.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    {% block title_block %}
        <title></title>
    {% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img id="logo" src="{% static 'images/logo.svg' %}" alt="logo">
        </div>
        <div class="link_list">
            <a href={% url 'vote:voter_list' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Voters
            </a>
            <a href={% url 'vote:create_election' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Add Election
            </a>
            <a href={% url 'vote:election_list' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Elections
            </a>
            <a href={% url 'vote:create_candidate' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Add Candidates
            </a>
            <a href={% url 'vote:candidate_list' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Candidates
            </a>
        </div>
    </div>
    <div id="spacer">

    </div>
    <div class="parent">
        <div class="navbar">
            <div></div>
            <div>
                {% if user.is_authenticated %}
                    <a href={% url 'vote:admin_account' %}>Hi, {{ fname }} {{ lname }}</a>
                {% endif %}
            </div>
        </div>

    {% block body_block %}

    </div>

    {% endblock %}

</body>
</html>