{% extends 'vote/admin/admin_base.html' %}
{% load static %}
{% block title_block %}
    <title>Candidate List</title>
{% endblock %}

{% block body_block %}

    <div>
        <form method="get" style="margin-left: 40px;">
            <label for="selected_election">Select Election:</label>
            <select id="selected_election" class="input" name="selected_election" onchange="this.form.submit()">
                <option value="">ALL ELECTIONS</option>
                {% for election in election_list %}
                    <option value="{{ election.id }}" {% if selected_election == election.id|stringformat:"s" %}selected{% endif %}>
                        {{ election.election_name }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <table class="table-long">
        <thead>
            <tr class="table-row">
                <th class="head-item">REG NUMBER</th>
                <th class="head-item">NAME</th>
                <th class="head-item">PHONE NUMBER</th>
                <th class="head-item">GENDER</th>
                <th class="head-item">EMAIL</th>
                <th class="head-item">DEPARTMENT</th>
                <th class="head-item">VOTES</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidate_list %}
            <tr class="table-row">
                <td class="cell">{{ candidate.registration_number }}</td>
                <td class="cell">{{ candidate.first_name }} {{ candidate.surname }}</td>
                <td class="cell">{{ candidate.phone_number }}</td>
                <td class="cell">{{ candidate.gender }}</td>
                <td class="cell">{{ candidate.email }}</td>
                <td class="cell">{{ candidate.election }}</td>
                <td class="cell">{{ candidate.votes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
