{% extends 'vote/user/base.html' %}
{% load static %}
{% block title_block %}
    <title>Cast Vote</title>
{% endblock %}

{% block body_block %}
    <div class="parent2">
        <div class="title2">
            Cast Your Vote
        </div>

        <div class="content2">
            <div>
                Select your preferred candidate
            </div>
        </div>
        
        <div class="formWrapper">
            <div class="form">
                <form action="{% url 'vote:cast_vote' election.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend><h1>{{ election.election_name }}</h1></legend>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        {% for candidate in election.candidate_set.all %}
                            <input type="radio" name="candidate" id="candidate{{ candidate.id }}" value="{{ candidate.id }}">
                            <label for="candidate{{ candidate.id }}">{{ candidate.first_name }} {{ candidate.surname }}</label><br>
                        {% endfor %}
                    </fieldset>
                    <input type="submit" value="Vote">
                </form>
            </div>
        </div>

        <!-- <div class="formWrapper">
            <div class="form">
                <form action="{% url 'vote:cast_vote' election.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend><h1>{{ election.election_name }}</h1></legend>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        {% for candidate in election.candidate_set.all %}
                            <input type="radio" name="candidate" id="candidate{{ forloop.counter }}" value="{{ candidate.id }}">
                            <label for="candidate{{ forloop.counter }}">{{ candidate.first_name }} {{ candidate.surname }}</label><br>
                        {% endfor %}
                    </fieldset>
                    <input type="submit" value="Vote">
                </form>
            </div>
        </div> -->

            <div class="button-parent">
                <div class="button-group2">
                    <a class="submit" href={% url 'vote:index' %}>BACK</a>
                </div>
            </div>
            </form>
        </div>

{% endblock %}
